 * { margin:0; padding:0; box-sizing:border-box; }
body {
  	background: url(unit4images/background.jpg)
	font-family: 'Oswald', sans-serif;
  	font-size: 22 pt;
  	font-weight: ;
  	}
  section{
  	margin: ;
  }

  hr{
  	border: ;
  	width: ;
  }

  p{
  	margin:;
  }