 +* { margin:0; padding:0; box-sizing:border-box; }
body {
  	background: url(unit3images/stripes.png) repeat-x;
  	background-image: url(unit3images/background.jpg) no-repeat;
  	background-color: #52596b;
  	background-size: auto, cover;
  	color: #ffffff;
  	font-family: Helvetica, Arial, sans-serif;
  	font-size: 26px;
  	font-weight: normal;
  	}
  section{
  	margin: 340px 0 0 150px;
  	border: 1px solid #fd6e6e;
  	width: 45px;
  }